*.data-* filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
checkpoints/* filter=lfs diff=lfs merge=lfs -text
writing/ml/checkpoints/* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
